@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
body::before {
    content: '';
    background: rgba(0, 153, 255, 0.24);
    filter: blur(100px);
    width: 300px;
    height: 300px;
    position: absolute;
    right: 50px;
    top: 100px;
    z-index: -1;
}
